
/*LISTA DE MÚSICAS*/
div#lista{
    margin: auto;
    margin-bottom: 0px;
    height: 100%;
    max-height: 180px;
    z-index:1; 
    overflow-y: auto;
}
div#lista::-webkit-scrollbar{
    width: 5px;
}
div#lista::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 10px;
}

/*ITEM MÚSICA*/
button.list-item{
    width: 100%;
    background-color: transparent;
    color: rgba(204, 204, 204, 0.8);
    border: none;
}
button.list-item span#music{
    color: rgba(255, 0, 0, 0.5);
}
button.selected{
    width: 100%;
    background-color: rgba(204, 204, 204, 0.1);
    color: rgb(255, 255, 255);
    border: none;
}
button.selected span#music{
    color: red;
}

/*TEXTOS DAS MUSICAS (NOME E ARTISTA/BANDA)*/
div#texts h1{
    margin-top: -10px;
    font-weight: bold;
}
button.list-item div#texts p{
    text-indent: 2px;
    font-size: 7.5pt;
    margin-top: -5px;
    color: rgb(255, 0, 0,0.5);
}
button.selected div#texts p{
    text-indent: 2px;
    font-size: 7.5pt;
    margin-top: -5px;
    color: rgb(255, 255, 255);
}